body {
  overflow-x: hidden;
}

.navbar {
  background-color: #6c7dfb;
  /* 藍色背景 */
}

.navbar-brand {
  font-size: 30px;
  font-weight: 900;
}

.navbar-brand span:first-child {
  color: #ffc27a;
  /* 'C' 的顏色 */
}

.navbar-brand span:last-child {
  color: #fff;
  /* 'hainee' 的顏色 */
}

.nav-link {
  color: #fff !important;
  /* 導覽連結預設白色 */
  transition: 0.3s;
}

.nav-link.active,
.nav-link:hover {
  color: #ffc27a !important;
  /* 滑鼠懸停 & active 狀態變色 */
}

.login-btn {
  color: white;
  background: none;
  border: none;
  font-size: 16px;
  transition: 0.3s;
}

.login-btn:hover {
  color: #ffc27a;
}

@media (max-width: 991px) {
  .hero-section {
    max-width: 100%;
    padding-bottom: 100px;
  }
}

@media (max-width: 991px) {
  .header {
    max-width: 100%;
    padding: 0 20px;
  }
}

.logo {
  color: #000;
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.1px;
  align-self: stretch;
  margin: auto 0;
}

@media (max-width: 991px) {
  .logo {
    font-size: 40px;
  }
}

.nav-menu {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  align-items: start;
  font-weight: 500;
  white-space: nowrap;
  justify-content: start;
  margin: auto 0;
}

@media (max-width: 991px) {
  .nav-menu {
    max-width: 100%;
    white-space: initial;
  }
}

.nav-item {
  border-radius: 8px;
  gap: 8px;
  padding: 12px 24px;
}

@media (max-width: 991px) {
  .nav-item {
    white-space: initial;
    padding: 0 20px;
  }
}

.nav-item-active {
  border-radius: 8px;
  gap: 8px;
  color: var(--Secondary-500, #ffc27a);
  font-weight: 600;
  padding: 12px 24px;
}

@media (max-width: 991px) {
  .nav-item-active {
    white-space: initial;
    padding: 0 20px;
  }
}

.user-actions {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  align-items: start;
  justify-content: start;
  margin: auto 0;
}

.login-button {
  border-radius: 8px;
  display: flex;
  align-items: start;
  gap: 8px;
  font-weight: 500;
  white-space: nowrap;
  justify-content: start;
  padding: 12px 24px;
}

@media (max-width: 991px) {
  .login-button {
    white-space: initial;
    padding: 0 20px;
  }
}

.login-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
}

.signup-button {
  border-radius: 100px;
  gap: 10px;
  font-weight: 400;
  padding: 12px 24px;
}

@media (max-width: 991px) {
  .signup-button {
    padding: 0 20px;
  }
}

.hero-section {
  position: relative;
  width: 100vw;
  height: 64vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 1) 100%
  );
}

.hero-content {
  position: relative;
  z-index: 2;
  color: black;
  text-align: left;
  padding-left: 5%;
  /* max-width: 400px; */
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: 900;
}

.hero-content p {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  width: 100%;
  /* max-width: 350px; */
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 5px;
}

.search-bar button {
  background: black;
  color: white;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.search-bar button i {
  color: white;
  font-size: 18px;
}

.tags {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background: #f3f3f3;
  color: #333;
  padding: 8px 12px;
  border-radius: 15px;
  font-size: 14px;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.tag:hover {
  background: #ddd;
}
.stats-section {
  background: var(--2nd-Primary-50, #f1f2f8);
  background-color: var(--2nd-Primary-50, #f1f2f8);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 70px;
}

@media (max-width: 991px) {
  .stats-section {
    max-width: 100%;
    padding: 0 20px;
  }
}

.stats-container {
  justify-content: space-between;
}

.stat-item {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: start;
}

.stat-icon-wrapper {
  border-radius: 1000px;
  align-self: stretch;
  display: flex;
  align-items: start;
  gap: 10px;
  justify-content: start;
  width: 84px;
  margin: auto 0;
  padding: 20px;
}

.stat-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 44px;
}

.stat-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  font-family: Public Sans, sans-serif;
  white-space: nowrap;
  justify-content: start;
  margin: auto 0;
}

@media (max-width: 991px) {
  .stat-text {
    white-space: initial;
  }
}

.stat-number {
  color: var(--Primary-900, #06241b);
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.24px;
}

.stat-label {
  color: var(--Gray-600, #52565c);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 8px;
}

.courses-section {
  align-self: center;
  display: flex;
  margin-top: 100px;
  width: 100%;
  max-width: 1440px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.block {
  display: block;
}

@media (max-width: 991px) {
  .courses-section {
    max-width: 100%;
    margin-top: 40px;
  }
}

.courses-title {
  color: var(--2nd-Primary-500, #3461fd);
  align-self: start;
  margin-left: 60px;
  font: 600 56px/1 Public Sans, sans-serif;
  font-family: Public Sans;
  font-weight: 600;
  font-size: clamp(50px, 5vw, 56px);
  line-height: 56px;
}

@media (max-width: 991px) {
  .courses-title {
    max-width: 100%;
  }
}

.courses-description {
  color: var(--Gray-500, #6d737a);
  align-self: start;
  margin: 16px 0 0 60px;
  font-family: Public Sans;
  font-weight: 400;
  font-size: clamp(20px, 3vw, 20px);
  line-height: 28px;
  letter-spacing: 0%;
}

@media (max-width: 991px) {
  .courses-description {
    max-width: 100%;
  }
}

.courses-grid {
  display: flex;
  margin-top: 50px;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .courses-grid {
    max-width: 100%;
    margin-top: 40px;
  }
}

.course-nav-prev {
  align-items: center;
  border-radius: 1000px;
  background: var(--Gray-White, #fff);
  background-color: var(--Gray-White, #fff);
  display: flex;
  gap: 10px;
  justify-content: start;
  width: 44px;
  height: 44px;
  margin: auto 0;
  padding: 10px;
}

.course-card {
  align-items: start;
  border-radius: 24px;
  background: var(--Gray-White, #fff);
  background-color: var(--Gray-White, #fff);
  display: flex;
  gap: 10px;
  justify-content: start;
  padding: 16px 0;
}

.course-content {
  display: flex;
  /* min-width: 240px; */
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.course-inner {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  justify-content: start;
}

.course-image {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  position: relative;
  aspect-ratio: 1.353;
  width: 100%;
  align-items: start;
  color: var(--Gray-Black, #1b1d1f);
  white-space: nowrap;
  padding: 7px 8px 164px;
  font: 500 16px Public Sans, sans-serif;
}

@media (max-width: 991px) {
  .course-image {
    white-space: initial;
    padding: 0 20px 100px 0;
  }
}

.course-img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.course-tag {
  position: relative;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: -33px;
  background: var(--Gray-White, #fff);
  padding: 6px 13px;
}

@media (max-width: 991px) {
  .course-tag {
    margin-bottom: 10px;
    white-space: initial;
  }
}

.course-title {
  color: var(--Gray-700, #363a3d);
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 16px;
  font: 500 20px/1.4 Public Sans, sans-serif;
}

@media (max-width: 991px) {
  .course-title {
    white-space: initial;
  }
}

.course-rating {
  align-self: start;
  display: flex;
  margin-top: 16px;
  align-items: center;
  gap: 11px;
  justify-content: start;
  font-size: 16px;
  font-weight: 400;
}

.rating-stars {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: start;
  margin: auto 0;
}

.star-icon {
  align-self: stretch;
  display: flex;
  align-items: start;
  gap: 6px;
  justify-content: start;
  margin: auto 0;
}

.course-footer {
  display: flex;
  margin-top: 16px;
  width: 100%;
  /* max-width: 312px; */
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.course-divider {
  background-color: #e7e9eb;
  min-height: 1px;
  width: 100%;
  border: 1px solid #e7e9eb;
}

.course-price-wrapper {
  display: flex;
  margin-top: 16px;
  align-items: center;
  /* gap: 40px 168px; */
  justify-content: start;
  width: 100%;
}

.course-price {
  color: var(--Gray-Black, #1b1d1f);
  letter-spacing: 0.05px;
  align-self: stretch;
  margin: auto 0;
  font: 600 24px/1 Public Sans, sans-serif;
}

.course-action {
  border-radius: 1000px;
  align-self: stretch;
  display: flex;
  align-items: start;
  gap: 10px;
  justify-content: start;
  width: 44px;
  margin: auto 0;
  padding: 10px;
}

.course-nav-next {
  border-radius: 1000px;
  box-shadow: -4px 4px 20px rgba(32, 180, 134, 0.12);
  display: flex;
  align-items: start;
  gap: 10px;
  justify-content: start;
  margin: auto 0;
  padding: 10px;
}

.course-pagination {
  align-self: center;
  display: flex;
  margin-top: 65px;
  align-items: start;
  gap: 12px;
  justify-content: start;
}

@media (max-width: 991px) {
  .course-pagination {
    margin-top: 40px;
  }
}

.pagination-dot {
  background-color: var(--Gray-100, #cfd3d6);
  border-radius: 50%;
  display: flex;
  width: 12px;
  height: 12px;
  fill: var(--Gray-100, #cfd3d6);
}

.pagination-dot-active {
  background-color: var(--Secondary-500, #ffc27a);
  border-radius: 50%;
  display: flex;
  width: 12px;
  height: 12px;
  fill: var(--Secondary-500, #ffc27a);
}

.categories-section {
  background-color: rgba(231, 233, 235, 0.5);
  display: flex;
  margin-top: 100px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 80px;
}

@media (max-width: 991px) {
  .categories-section {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}

.categories-container {
  display: flex;
  width: 100%;
  max-width: 1320px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .categories-container {
    max-width: 100%;
  }
}

.categories-title {
  color: var(--2nd-Primary-500, #3461fd);
  align-self: start;
  font: 600 56px/1 Public Sans, sans-serif;
}

@media (max-width: 991px) {
  .categories-title {
    max-width: 100%;
    font-size: 40px;
  }
}

.categories-description {
  color: var(--Gray-500, #6d737a);
  align-self: start;
  margin-top: 16px;
  font: 400 20px/1.4 Public Sans, sans-serif;
}

@media (max-width: 991px) {
  .categories-description {
    max-width: 100%;
  }
}

.categories-grid {
  display: flex;
  margin-top: 50px;
  gap: 24px;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .categories-grid {
    max-width: 100%;
    margin-top: 40px;
  }
}

.category-card {
  border-radius: 22px;
  background: var(--Gray-White, #fff);
  background-color: var(--Gray-White, #fff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 16px 24px;
}

@media (max-width: 991px) {
  .category-card {
    padding: 0 20px;
  }
}

.category-content {
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: start;
}

.category-icon-text {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 16px;
  color: #000;
  white-space: nowrap;
  justify-content: start;
  margin: auto 0;
  font: 500 20px/1.4 Public Sans, sans-serif;
}

@media (max-width: 991px) {
  .category-icon-text {
    white-space: initial;
  }
}

.category-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 38px;
  align-self: stretch;
  margin: auto 0;
}

.category-name {
  align-self: stretch;
  width: 160px;
  margin: auto 0;
}

.category-arrow {
  align-items: center;
  border-radius: 1000px;
  background: var(--Secondary-500, #ffc27a);
  box-shadow: -4px 4px 20px 0px rgba(242, 206, 18, 0.12);
  background-color: var(--Secondary-500, #ffc27a);
  align-self: stretch;
  display: flex;
  gap: 10px;
  justify-content: start;
  width: 44px;
  height: 44px;
  margin: auto 0;
  padding: 10px;
}

.instructors-section {
  align-self: center;
  display: flex;
  margin-top: 100px;
  width: 100%;
  max-width: 1440px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .instructors-section {
    max-width: 100%;
    margin-top: 40px;
  }
}

.instructors-title {
  color: var(--2nd-Primary-500, #3461fd);
  align-self: start;
  margin-left: 60px;
  font: 600 56px/1 Public Sans, sans-serif;
}

@media (max-width: 991px) {
  .instructors-title {
    max-width: 100%;
    font-size: 40px;
  }
}

.instructors-description {
  color: var(--Gray-500, #6d737a);
  align-self: start;
  margin: 16px 0 0 60px;
  font: 400 20px/1.4 Public Sans, sans-serif;
}

@media (max-width: 991px) {
  .instructors-description {
    max-width: 100%;
  }
}

.instructors-grid {
  display: flex;
  margin-top: 63px;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .instructors-grid {
    max-width: 100%;
    margin-top: 40px;
  }
}

.instructor-nav-prev {
  align-items: center;
  border-radius: 1000px;
  background: var(--Gray-White, #fff);
  box-shadow: -4px 4px 20px 0px rgba(32, 180, 134, 0.12);
  background-color: var(--Gray-White, #fff);
  display: flex;
  gap: 10px;
  justify-content: start;
  width: 44px;
  height: 44px;
  margin: auto 0;
  padding: 10px;
}

.instructor-card {
  align-items: start;
  border-radius: 24px;
  background: var(--Gray-White, #fff);
  box-shadow: 0px 3px 12px 0px rgba(75, 75, 75, 0.08);
  background-color: var(--Gray-White, #fff);
  display: flex;
  gap: 10px;
  font-family: Public Sans, sans-serif;
  font-weight: 400;
  justify-content: start;
  padding: 16px;
}

.instructor-content {
  display: flex;
  /* min-width: 240px; */
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.instructor-image {
  aspect-ratio: 1.06;
  object-position: center;
  width: 100%;
  border-radius: 12px;
}

.instructor-info {
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.instructor-name {
  color: var(--Gray-Black, #1b1d1f);
  font-size: 20px;
  line-height: 1.4;
}

.instructor-specialty {
  color: var(--Gray-500, #6d737a);
  font-size: 16px;
  margin-top: 6px;
}

.instructor-nav-next {
  border-radius: 1000px;
  box-shadow: -4px 4px 20px rgba(32, 180, 134, 0.12);
  display: flex;
  align-items: start;
  gap: 10px;
  justify-content: start;
  margin: auto 0;
  padding: 10px;
}

.instructor-pagination {
  align-self: center;
  display: flex;
  margin-top: 50px;
  align-items: start;
  gap: 12px;
  justify-content: start;
}

@media (max-width: 991px) {
  .instructor-pagination {
    margin-top: 40px;
  }
}

.feedback-section {
  background-color: #f8f4ff;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 80px;
}

@media (max-width: 991px) {
  .feedback-section {
    max-width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 991px) {
  .feedback-container {
    max-width: 100%;
  }
}

.feedback-header {
  align-self: start;
  display: flex;
  margin-left: 60px;
  flex-direction: column;
  font-family: Public Sans, sans-serif;
}

@media (max-width: 991px) {
  .feedback-header {
    max-width: 100%;
  }
}

.feedback-title {
  color: var(--2nd-Primary-500, #3461fd);
  font-size: 56px;
  font-weight: 600;
  line-height: 1;
  align-self: start;
}

@media (max-width: 991px) {
  .feedback-title {
    max-width: 100%;
    font-size: 40px;
  }
}

.feedback-description {
  color: var(--Gray-500, #6d737a);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 16px;
}

@media (max-width: 991px) {
  .feedback-description {
    max-width: 100%;
  }
}

.feedback-grid {
  display: flex;
  margin-top: 50px;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .feedback-grid {
    max-width: 100%;
    margin-top: 40px;
  }
}

.feedback-nav-prev {
  border-radius: 50%;
  background: vr(--Gray-White, #fff);
  box-shadow: -4px 4px 20px 0px rgba(32, 180, 134, 0.12);
  background-color: var(--Gray-White, #fff);
  display: flex;
  gap: 10px;
  justify-content: start;
  width: 44px;
  height: 44px;
  margin: auto 0;
  padding: 10px;
}

.feedback-card {
  border-radius: 30px;
  background: var(--Gray-White, #fff);
  background-color: var(--Gray-White, #fff);
  display: flex;
  flex-direction: column;
  font-family: Public Sans, sans-serif;
  justify-content: center;
  padding: 32px;
}

@media (max-width: 991px) {
  .feedback-card {
    max-width: 100%;
    padding: 0 20px;
  }
}

.feedback-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.feedback-header {
  display: flex;
  align-items: start;
  gap: 40px 91px;
  color: #000;
  justify-content: start;
}

.feedback-user {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: start;
}

.feedback-avatar {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 70px;
  border-radius: 1000px;
  align-self: stretch;
  margin: auto 0;
}

.feedback-user-info {
  align-self: stretch;
  display: flex;
  min-height: 64px;
  flex-direction: column;
  justify-content: start;
  margin: auto 0;
}

.feedback-user-name {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.05px;
}

.feedback-user-title {
  font-size: 16px;
  font-weight: 400;
  margin-top: 8px;
}

.feedback-rating {
  aspect-ratio: 1.38;
  object-fit: contain;
  object-position: center;
  width: 40px;
  fill: var(--Secondary-500, #ffc27a);
}

.feedback-text {
  color: var(--Gray-700, #363a3d);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 32px;
}

.feedback-nav-next {
  border-radius: 1000px;
  box-shadow: -4px 4px 20px rgba(32, 180, 134, 0.12);
  display: flex;
  align-items: start;
  gap: 10px;
  justify-content: start;
  margin: auto 0;
  padding: 10px;
}

.feedback-pagination {
  align-self: center;
  display: flex;
  margin-top: 50px;
  align-items: start;
  gap: 12px;
  justify-content: start;
}

@media (max-width: 991px) {
  .feedback-pagination {
    margin-top: 40px;
  }
}

.cta-section {
  align-self: center;
  margin-top: 23px;
  width: 100%;
  max-width: 1345px;
}

@media (max-width: 991px) {
  .cta-section {
    max-width: 100%;
  }
}

.cta-container {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .cta-container {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.cta-image {
  aspect-ratio: 1.18;
  object-fit: contain;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .cta-image {
    max-width: 100%;
    margin-top: 40px;
  }
}

.cta-content {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .cta-content {
    width: 100%;
  }
}

.cta-wrapper {
  display: flex;
  margin-top: 129px;
  width: 100%;
  flex-direction: column;
  font-family: Public Sans, sans-serif;
  justify-content: start;
}

@media (max-width: 991px) {
  .cta-wrapper {
    max-width: 100%;
    margin-top: 40px;
  }
}

.cta-text {
  display: flex;
  max-width: 100%;
  width: 648px;
  flex-direction: column;
  justify-content: start;
}

.cta-header {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
}

.cta-title {
  color: var(--2nd-Primary-500, #3461fd);
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}

@media (max-width: 991px) {
  .cta-title {
    max-width: 100%;
  }
}

.cta-subtitle {
  color: var(--Gray-600, #52565c);
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  margin-top: 24px;
}

@media (max-width: 991px) {
  .cta-subtitle {
    max-width: 100%;
  }
}

.cta-description {
  color: var(--Gray-500, #6d737a);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
}

@media (max-width: 991px) {
  .cta-description {
    max-width: 100%;
  }
}

.cta-button {
  border-radius: 100px;
  align-self: start;
  margin-top: 37px;
  gap: 10px;
  font-size: 16px;
  color: var(--Gray-White, #fff);
  font-weight: 600;
  text-align: center;
  padding: 12px 24px;
}

@media (max-width: 991px) {
  .cta-button {
    padding: 0 20px;
  }
}

.footer {
  background: var(--2nd-Primary-900, #21212f);
  background-color: var(--2nd-Primary-900, #21212f);
  display: flex;
  margin-top: 95px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 100px 70px 50px;
}

@media (max-width: 991px) {
  .footer {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}

.footer-content {
  display: flex;
  width: 100%;
  max-width: 1320px;
  align-items: start;
  gap: 20px;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .footer-content {
    max-width: 100%;
  }
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer-logo {
  color: #000;
  letter-spacing: 0.1px;
  text-align: center;
  font: 600 48px/1 Public Sans, sans-serif;
}

@media (max-width: 991px) {
  .footer-logo {
    font-size: 40px;
  }
}

.footer-contact {
  color: var(--Gray-White, #fff);
  letter-spacing: 0.05px;
  margin-top: 39px;
  font: 600 24px/1 Public Sans, sans-serif;
}

.footer-phone {
  color: var(--Gray-50, #e7e9eb);
  margin-top: 28px;
  font: 400 16px Public Sans, sans-serif;
}

.footer-address {
  color: var(--Gray-50, #e7e9eb);
  align-self: stretch;
  margin-top: 17px;
  font: 400 16px/24px Public Sans, -apple-system, Roboto, Helvetica, sans-serif;
}

.footer-email {
  color: var(--Gray-50, #e7e9eb);
  margin-top: 26px;
  font: 400 16px Public Sans, sans-serif;
}

.footer-social {
  align-self: stretch;
  display: flex;
  margin-top: 15px;
  gap: 16px;
}

@media (max-width: 991px) {
  .footer-social {
    margin-right: 5px;
  }
}

.navbar-nav {
  font-weight: 700;
  font-size: 16px;
}

.social-icon {
  border-radius: 100px;
  background-color: #f1f2f8;
  display: flex;
  min-height: 49px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 49px;
  height: 49px;
  padding: 0 14px;
}

.social-img {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 20px;
}

.footer-links {
  display: flex;
  margin-top: 17px;
  flex-direction: column;
  align-items: start;
  color: var(--Gray-100, #cfd3d6);
  white-space: nowrap;
  font: 400 16px Public Sans, sans-serif;
}

@media (max-width: 991px) {
  .footer-links {
    white-space: initial;
  }
}

.footer-links-title {
  color: var(--Gray-White, #fff);
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.05px;
  align-self: stretch;
}

.footer-link {
  margin-top: 28px;
}

.footer-categories {
  display: flex;
  margin-top: 17px;
  flex-direction: column;
  align-items: start;
  color: var(--Gray-100, #cfd3d6);
  white-space: nowrap;
  font: 400 16px Public Sans, sans-serif;
}

@media (max-width: 991px) {
  .footer-categories {
    white-space: initial;
  }
}

.footer-categories-title {
  color: var(--Gray-White, #fff);
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.05px;
  align-self: stretch;
}

.footer-category {
  margin-top: 28px;
}

.footer-newsletter {
  display: flex;
  margin-top: 24px;
  flex-direction: column;
  color: var(--Gray-White, #fff);
  font: 600 16px Public Sans, sans-serif;
}

.footer-newsletter-title {
  font-size: 20px;
  line-height: 1.2;
  align-self: start;
}

.footer-newsletter-description {
  color: var(--Gray-100, #cfd3d6);
  font-weight: 400;
  line-height: 24px;
  margin-top: 41px;
}

@media (max-width: 991px) {
  .footer-newsletter-description {
    margin: 40px 10px 0 0;
  }
}

.footer-newsletter-input {
  width: 280px;
  border-radius: 8px;
  background: var(--Gray-White, #fff);
  background-color: var(--Gray-White, #fff);
  margin-top: 21px;
  min-height: 57px;
  gap: 10px;
  color: var(--Gray-500, #6d737a);
  font-weight: 400;
  padding: 17px 16px;
}

.footer-newsletter-button {
  border-radius: 100px;
  align-self: start;
  margin-top: 34px;
  gap: 10px;
  text-align: center;
  padding: 12px 24px;
}

@media (max-width: 991px) {
  .footer-newsletter-button {
    padding: 0 20px;
  }
}

.stats-section {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.stat-item {
  display: flex;
  align-items: center;
  width: 200px;
}

.stat-icon-wrapper {
  background: #6c7dfb;
  padding: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
}

.stat-icon {
  color: white;
  font-size: 32px;
}

.stat-number {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.stat-label {
  font-size: 16px;
  color: #666;
}

@media screen and (max-width: 491px) {
  .stat-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .stat-text {
    margin-left: 0;
    margin-top: 10px;
  }
  .stat-icon-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

/* 按鈕樣式 */
.btn-custom {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: linear-gradient(135deg, #007bff, #00c6ff);
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
  transition: all 0.3s ease-in-out;
  border: none;
  max-width: 200px;
  margin-left: 60px;
  text-align: center;
}

/* 懸停效果 */
.btn-custom:hover {
  background: linear-gradient(135deg, #0056b3, #0099ff);
  box-shadow: 0 6px 15px rgba(0, 123, 255, 0.5);
  transform: translateY(-3px);
}

/* 按下時的效果 */
.btn-custom:active {
  transform: translateY(1px);
  box-shadow: 0 2px 5px rgba(0, 123, 255, 0.5);
}

@media screen and (max-width: 558px) {
  .courses-title,
  .courses-description,
  .btn-custom {
    margin-left: auto;
    margin-right: auto;
  }
}
